In [1]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'README.md',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testings.ipynb',
 'Untitled.ipynb']

In [2]:
import pandas

In [4]:
df1= pandas.read_csv("supermarkets.csv")
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df1.shape

(6, 7)

In [7]:
df2=pandas.read_json("supermarkets.json")
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [12]:
df3= pandas.read_excel("supermarkets.xlsx",sheetname=0)

ModuleNotFoundError: No module named 'xlrd'

In [13]:
df3 = pandas.read_excel("supermarkets.xlsx", sheetname=0)
df3

ModuleNotFoundError: No module named 'xlrd'

In [16]:
df3 = pandas.read_excel("supermarkets.xlsx")
df3

ModuleNotFoundError: No module named 'xlrd'

In [17]:
df3=pandas.read_excel("supermarkets.xlsx",sheetname=0)
df3

ModuleNotFoundError: No module named 'xlrd'

In [18]:
df3 = pandas.read_excel("supermarkets.xlsx", sheetname=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df4 = pandas.read_csv("supermarkets_commas.txt")
df4

FileNotFoundError: File b'supermarkets_commas.txt' does not exist

In [20]:
df4 = pandas.read_csv("supermarkets-comma.txt")
df4

FileNotFoundError: File b'supermarkets-comma.txt' does not exist

In [21]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [23]:
df5=pandas.read_csv("supermarkets-semi-colons.txt", separator=";")
df5

TypeError: parser_f() got an unexpected keyword argument 'separator'

In [24]:
df5= pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [1]:
df7=pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

NameError: name 'pandas' is not defined

In [2]:
import pandas
df7=pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [5]:
df7=df7.set_index("Address")

In [8]:
df7.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [3]:
df7.iloc[3,1:4]

NameError: name 'df7' is not defined

In [4]:
import pandas
df7=pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [5]:
df7=df7.set_index("Address")

In [6]:
df7.ix[3,4]

"Ben's Shop"

In [7]:
df7.drop("City",1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [8]:
df7.drop("332 Hill St",0)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [9]:
df7.drop(df7.index[0:3],0)

                          City Country  Employees  ID        Name       State
Address
3995 23rd St     San Francisco     USA         10   4  Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5     Sanchez  California
551 Alvarado St  San Francisco     USA         20   6  Richvalley    CA 94114

In [10]:
df7.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [11]:
df7.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')